<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Store</title>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" 
    integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" 
    crossorigin="anonymous">
    <!--FONTS-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark p-2">
        <div class="container">
            <a href="/" class="navbar-brand">Software Store</a>
        </div>
    </nav>

    <div class="container p-4">
        {{{body}}}
    </div>
    
</body>
</html>